* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
  }
  
  .header {
    background-color: #11172b;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 12px 0;
  }

  .header-tittle {
    width: 640px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 300;
  }

  .header-tittle-bold {
    font-weight: 600;
    margin-left: 15px;
  }

  .body-container {
    width: 640px;
    margin: 0 auto;
    padding: 40px 0;
  }

  .main-section {
    background-color: #ebeff8;
    border-radius: 8px;
    margin: 0;
    padding: 24px 32px;
  }

  .main-section-tittle-small {
    font-size: 16px;
    color: #b3bdd5;
  }

  .main-section-tittle {
    font-size: 32px;
    font-family: 'Titillium Web', sans-serif;
    color: #000;
    margin: 8px 0 24px;
    font-weight: 800;
  }

  .main-section-date {
    margin: 24px 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    text-align: center;
    font-size: 16px;
    color: #000;
  }

  .main-section-description {
    font-size: 12px;
    color: #b3bdd5;
  }

  .section {
    background-color: #fff;
    margin-bottom: 17px;
    border-radius: 8px;
  }

  .section-ticket-num {
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    color: #16bf97;
    padding: 8px 24px;
  }

  .section-content {
    padding: 26px 24px 24px;
    text-align: left;
  }

  .section-content-tittle-small {
    font-size: 12px;
    font-weight: 500;
    color: #b3bdd5;
    margin-bottom: 4px;
  }

  .section-content-tittle {
    font-size: 16px;
    font-weight: 700;
    color: #1a345e;
    margin-bottom: 4px;
  }

  .section-content-airline-small {
    font-size: 12px;
    font-weight: 500;
    color: #b3bdd5;
    margin-bottom: 4px;
  }

  .section-content-airline {
    font-size: 16px;
    color: #0b1f66;
    margin-bottom: 4px;
  }

  .section-content-description {
    font-size: 14px;
    color: #1a345e;
    text-align: right;
  }